<div class="caption">
  <h1>Julian Schmidt</h1>
</div>
<p><span>Hey there!</span>I'm a full-stack software developer based in Karlsruhe, Germany.</p>
<div class="contact">
  <a class="mail" href="mailto:contact@julianschmidt.codes">contact@julianschmidt.codes</a>
  <a class="copy" (click)="copyMailToClipboard()"><img alt="Copy Icon" src="assets/images/copy.png" /></a>
</div>
<div class="links">
  <a href="https://github.com/julisch94"><img alt="Github Logo" src="assets/images/github.svg"/></a>
  <a href="https://www.linkedin.com/in/julian-schmidt-codes"><img alt="LinkedIn Logo" src="assets/images/linkedin.svg"/></a>
  <a href="https://www.xing.com/profile/Julian_Schmidt141"><img alt="XING Logo" src="assets/images/xing.svg"/></a>
</div>
<img class="jules" src="/assets/images/julian-sm.png" alt="Photo of Julian Schmidt" />
