@import '../../theme';
@import '../../mixins';

.caption {
    padding-bottom: 2 * $cube;

    h1 {
        font-weight: 300;
        display: inline-block;
        font-size: 2 * $cube;
        line-height: 2 * $cube;
    }
}

p {
    font-weight: 700;
    position: relative;
    z-index: 1;

    span {
        display: block;
        margin-bottom: 0.5 * $cube;
    }

    @include breakpoint('s') {
        max-width: 50%;
    }
}

div.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5 * $cube;

  a.mail {
    font-size: 0.7 * $cube;

    @include breakpoint('xs') {
      font-size: 0.8 * $cube;
    }
  }

  a.copy {
    height: 0.9 * $cube;
    margin-left: 0.5 * $cube;

    @include breakpoint('xs') {
      height: $cube;
    }

    img {
      height: 100%;
    }
  }
}

div.links {
  margin-top: 1.5 * $cube;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: $cube;

  a {
    height: 100%;

    &:not(:last-child) {
      margin-right: 0.5 * $cube;
    }

    img {
      height: 100%;
    }
  }

  @include breakpoint('s') {
    height: 1.25 * $cube;
  }

  @include breakpoint('xl') {
    position: absolute;
    bottom: 2 * $cube;
  }
}

img.jules {
    position: static;
    margin-top: 2 * $cube;
    margin-left: auto;
    margin-right: 0;
    max-height: 50vh;
    display: block;
    bottom: 0;
    right: $cube;
    z-index: 0;

    @include breakpoint('xs') {
      margin-top: $cube;
    }

    @include breakpoint('s') {
        position: absolute;
        bottom: 0;
        right: $cube;
        max-height: 75%;
        z-index: 0;
    }

    @include breakpoint('m') {
        right: 3 * $cube;
        max-height: 85%;
        z-index: 0;
    }
}
