<div class="caption">
  <h1>Julian Schmidt</h1>
</div>
<p><span>Hey there!</span>I'm a full-stack software developer based in Karlsruhe, Germany.</p>
<a class="btn btn-contact" href="mailto:contact@julianschmidt.codes">Contact Me</a>
<div class="links">
  <a href="https://github.com/julisch94"><img alt="Github Logo" src="../../assets/images/github.png"/></a>
  <a href="https://www.linkedin.com/in/julian-schmidt-codes"><img alt="LinkedIn Logo" src="assets/images/linkedin.png"/></a>
  <a href="https://www.xing.com/profile/Julian_Schmidt141"><img alt="XING Logo" src="assets/images/xing.png"/></a>
</div>
<img class="jules" src="/assets/images/julian-sm.png" alt="Image of me" />
