@import '../../theme';
@import '../../mixins';

.caption {
    padding-bottom: 2 * $cube;

    h1 {
        font-weight: normal;
        display: inline-block;
        font-size: 2 * $cube;
        line-height: 2 * $cube;
    }
}

p {
    font-weight: 700;
    position: relative;
    z-index: 1;

    span {
        display: block;
        margin-bottom: 0.5 * $cube;
    }

    @include breakpoint('s') {
        max-width: 50%;
    }
}

div.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: $cube;

  a.btn {
    background-color: $highlight;
    text-decoration: none;
    color: $background;
    padding: 0.25 * $cube 0.5 * $cube;
    font-weight: 700;

    &:hover {
      background-color: rgba($highlight, $pale);
    }
  }

  a.copy {
    height: $cube;
    margin-left: 0.5 * $cube;
    cursor: pointer;

    img {
      height: 100%;
    }
  }
}

div.links {
  margin-top: $cube;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 1.5 * $cube;

  a {
    height: 100%;

    &:not(:last-child) {
      margin-right: 0.5 * $cube;
    }

    &:hover {
      opacity: $pale;
    }

    img {
      height: 100%;
    }
  }

  @include breakpoint('l') {
    position: absolute;
    bottom: 2 * $cube;
  }
}

img.jules {
    position: static;
    margin-top: $cube;
    margin-left: auto;
    margin-right: auto;
    max-height: 100vw;
    display: block;
    bottom: 0;
    right: $cube;
    z-index: 0;

    @include breakpoint('s') {
        position: absolute;
        bottom: 0;
        right: $cube;
        max-height: 75%;
        z-index: 0;
    }

    @include breakpoint('m') {
        right: 3 * $cube;
        max-height: 85%;
        z-index: 0;
    }
}
