.main {
    min-height: 100vh;

    main {
        height: 100%;

        @media (min-width: 700px) {
            margin-right: 30vw;
        }
    }

    img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 50vw;
        max-width: 360px;
    }
}
