@import "../theme.scss";

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-color: $background;
}

.card {
  min-width: 50vw;
  min-height: 50vh;
  background-color: $background;
  box-shadow: 0 0.25*$cube 0.5*$cube 0.2*$cube $background2;
  padding: 2*$cube;
  position: relative;
}

footer {
  width: 100vw;
  padding: $cube;
  position: absolute;
  bottom: 0;

  p {
    font-size: 0.7*$cube;
  }
}
