/* You can add global styles to this file, and also import other style files */

@import './theme';
@import "~ng-snotify/styles/material";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $cube;
    font-family: 'Space Grotesk', Helvetica, sans-serif;
    color: $foreground;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./assets/fonts/SpaceGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./assets/fonts/SpaceGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./assets/fonts/SpaceGrotesk-Light.otf') format('opentype');
    font-weight: 300;
}

.no-tap-highlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

a {
  @extend .no-tap-highlight;

  color: $foreground;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    filter: invert(30%) sepia(79%) saturate(378%) hue-rotate(176deg) brightness(92%) contrast(91%);
  }
}

::selection {
  color: $background;
  background: $highlight;
}

::-moz-selection {
  color: $background;
  background: $highlight;
}
