/* You can add global styles to this file, and also import other style files */

@import './theme';
@import "~ng-snotify/styles/material";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $cube;
    font-family: 'Space Grotesk', Helvetica, sans-serif;
    color: $foreground;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./assets/fonts/SpaceGrotesk-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./assets/fonts/SpaceGrotesk-Regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./assets/fonts/SpaceGrotesk-Light.otf') format('opentype');
    font-weight: light;
}

.no-tap-highlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
